<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- ************************************************************************************************ -->
	<annotation-driven />
	<resources mapping="/resources/**" location="/resources/" />
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<context:component-scan base-package="com.etu.Entities" />
	<context:component-scan base-package="com.etu.DAO" />
	<context:component-scan base-package="com.etu.Metier" />
	<context:component-scan base-package="com.etu.Bean" />
	<!-- ************************************************************************************************ -->

	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
    <beans:bean id="daoEtu" class="com.etu.DAO.ImplDaoEtudiant"></beans:bean>
  	 <beans:bean id="metierEtudiant" class="com.etu.Metier.ImplMetierEtudiant">
	 <beans:property name="daoEtudiant" ref="daoEtu"></beans:property>
	 </beans:bean>
	 
	 <beans:bean id="daoExa" class="com.etu.DAO.ImplDaoExamen"></beans:bean>
  	 <beans:bean id="metierExamen" class="com.etu.Metier.ImplMetierExamen">
	 <beans:property name="daoExamen" ref="daoExa"></beans:property>
	 </beans:bean>
	 
	 <beans:bean id="daoSal" class="com.etu.DAO.ImplDaoSalle"></beans:bean>
  	 <beans:bean id="metierSalle" class="com.etu.Metier.ImplMetierSalle">
	 <beans:property name="daoSalle" ref="daoSal"></beans:property>
	 </beans:bean> 
	 
	 <beans:bean id="daoMat" class="com.etu.DAO.ImplDaoMateriel"></beans:bean>
  	 <beans:bean id="metierMateriel" class="com.etu.Metier.ImplMetierMateriel">
	 <beans:property name="daoMateriel" ref="daoMat"></beans:property>
	 </beans:bean> 
	
	<beans:bean id="daoMod" class="com.etu.DAO.ImplDaoModule"></beans:bean>
  	 <beans:bean id="metiermodule" class="com.etu.Metier.ImplMetierModule">
	 <beans:property name="daomodule" ref="daoMod"></beans:property>
	 </beans:bean>
	 
	 <beans:bean id="daoSes" class="com.etu.DAO.ImplDaoSession"></beans:bean>
  	 <beans:bean id="metiersession" class="com.etu.Metier.ImplMetierSession">
	 <beans:property name="daosession" ref="daoSes"></beans:property>
	 </beans:bean>
	 
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<beans:bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
		<beans:property name="url" value="jdbc:mysql://localhost/gestionEtudiants"></beans:property>
		<beans:property name="username" value="root"></beans:property>
		<beans:property name="password" value=""></beans:property>
	</beans:bean>
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<beans:bean id="PersistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<beans:property name="defaultDataSource" ref="datasource"></beans:property>
		<beans:property name="persistenceXmlLocations">
			<beans:list>
				<beans:value>classpath*:META-INF/persistence.xml</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="EntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<beans:property name="persistenceUnitManager" ref="PersistenceUnitManager"></beans:property>
		<beans:property name="persistenceUnitName" value="UP_gestionEtudiant"></beans:property>
	</beans:bean>
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<beans:bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<beans:property name="entityManagerFactory" ref="EntityManagerFactory"></beans:property>
	</beans:bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
	<!-- ************************************************************************************************ -->

</beans:beans>
